[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "countprop"]
	path = countprop
	url = https://github.com/kevinmcgregor/countprop
